/dependency-reduced-pom.xml
/ch.qos.logback.classic.Logger.class
/org.evosuite.ClientProcess.class
/org.evosuite.TestSuiteGenerator.class
/org.evosuite.TimeController.class
/org.evosuite.rmi.ClientServices.class
/org.evosuite.rmi.service.ClientNodeImpl.class
/org.evosuite.rmi.service.ClientStateInformation.class
/org.evosuite.runtime.LoopCounter.class
/org.evosuite.runtime.Runtime.class
/org.evosuite.runtime.javaee.TestDataJavaEE.class
/org.evosuite.runtime.mock.java.util.prefs.PreferencesImpl.class
/org.evosuite.runtime.mock.javax.naming.EvoNamingContext.class
/org.evosuite.runtime.sandbox.MSecurityManager.class
/org.evosuite.runtime.sandbox.PermissionStatistics.class
/org.evosuite.runtime.thread.ThreadCounter.class
/org.evosuite.runtime.util.SystemInUtil.class
/org.evosuite.runtime.vfs.VirtualFileSystem.class
/org.evosuite.runtime.vnet.VirtualNetwork.class
/org.evosuite.utils.ListenableList$ObservableListIterator.class
/org.evosuite.utils.LoggingUtils.class
/org.evosuite.utils.Randomness.class
/org.evosuite.utils.SimpleListenable.class
