*.log
*.dot
*.iml
*~
target/
evosuite-files
evosuite-report
evosuite-tests
plugins/jenkins/work
build
transitionLog.txt
.DS_Store
.project
.settings
.classpath
.idea
bin/
examples/mine/
examples/plot/
examples/indi_plot/
src/main/resources/log4j.properties
*.jar
*.orig
master/dependency-reduced-pom.xml
shaded/dependency-reduced-pom.xml
standalone_runtime/dependency-reduced-pom.xml
/.metadata/
generated/.classpath
generated/.settings/org.eclipse.jdt.core.prefs
plugins/build-support-test/.classpath
plugins/build-support-test/.settings/org.eclipse.jdt.core.prefs
plugins/maven-test/.settings/org.eclipse.jdt.core.prefs
plugins/maven-test/.classpath
plugins/maven/.classpath
plugins/maven/.settings/org.eclipse.jdt.core.prefs
generated/.classpath
generated/.settings/org.eclipse.jdt.core.prefs
plugins/build-support-test/.classpath
plugins/build-support-test/.settings/org.eclipse.jdt.core.prefs
plugins/maven-test/.classpath
plugins/maven-test/.settings/org.eclipse.jdt.core.prefs
plugins/maven/.classpath
plugins/maven/.settings/org.eclipse.jdt.core.prefs
generated/.classpath
