
language: java
sudo: false
dist: trusty

jdk:
  - oraclejdk8

script:
   - mvn -Dtest=BranchEnhancementTest#testColtExample test -pl EvosuiteTest -e
   - mvn -Dtest=BranchEnhancementTest#testInevitableConstructorExample test -pl EvosuiteTest -e
   - mvn -Dtest=BranchEnhancementTest#testLayeredCallExample test -pl EvosuiteTest -e
   - mvn -Dtest=BranchEnhancementTest#testMultipleConstructorsExample test -pl EvosuiteTest -e
   - mvn -Dtest=BranchEnhancementTest#testMultipleExceptionExample test -pl EvosuiteTest -e
   - mvn -Dtest=PExampleTest#testPExample test -pl EvosuiteTest -e
   - mvn -Dtest=SmartMutationTest#testStringArrayExample test -pl EvosuiteTest -e
   - mvn -Dtest=CascadingCallExampleTest#testCascadingCallExample test -pl EvosuiteTest -e
   - mvn -Dtest=ArrayGenerationExampleTest#testArrayGenerationExample test -pl EvosuiteTest -e
   
   